.management-view{
  width: 100%;
  padding: 16px;
  padding-bottom: 0;
  min-width: 0;
  box-sizing: border-box;
  &-header{
    display: flex;
    align-items: center;
    &-title{
      flex: 1;
      font-weight: bold;
      font-size: 15px;
      color: #000000;
    }
    &-operate{
      display: flex;
      align-items: center;
      &-search{
        width: 320px;
        margin-right: 8px;
      }
    }
  }
  &-content{
    margin-top: 12px;
  }
}
.management-view-table-sdk{
  color: #3561f4;
  cursor: pointer;
}
.management-view-table-actions{
  display: flex;
  align-items: center;
  &-item{
    margin-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:first-child{
      margin-left: 0;
    }
  }
}